[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"
pycodestyle = "*"
mypy = "*"
pylint = "*"
dockerdb = "*"

[packages]
click = "*"
pip = "==18.0"
aioinflux = "*"
idna-ssl = "*"
